.p-div-100 {
  padding: 60px;
}
.wellp {
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: auto;
}
.main-all {
  background-color: gray;
  height: 100vh;
  min-height: 100%;
}
.color-divs {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
  border: 1px solid gray;
}
.color-divs:hover {
  border: 1px solid black;
}
.colorguess {
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.colorguessrow {
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
  border: 1px solid gray;
  flex: 1;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
}
.color-divs-row {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid gray;
}
.col-dir {
  flex-direction: column;
}
.color-two {
  margin-left: 40px;
}
.color-three {
  margin-left: 40px;
}
.color-four {
  margin-left: 40px;
}
.color-all-divs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid gray;
}
.ref-h {
  cursor: pointer;
  text-align: left;
  color: white;
  font-family: Verdana;
}
.ref-h:hover {
  color: grey;
}
